body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ecf0f3;
}
.container{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 8px;
    box-shadow:  12px 12px 20px #cbced1;
}
.display #screen{
width: 97%;
height: 70px;
font-size: 35px;
outline: none;
border: none;
text-align: right;
padding-right: .5em;
background: #ecf0f3;
border-radius: 6px;
box-shadow: inset 12px 12px 20px #cbced1;
overflow: scroll;
}
.btns {
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btns .row button{
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow:5px 5px 8px #3f3f88 ;
}
@media (max-width:680px) {
    .btns .row button{
        width:60px ;
    }
}
@media (max-width:533px) {
    .btns .row button{
        width:50px ;
    }
}
@media (max-width:430px) {
    .btns .row button{
        width:40px;
    }
}
@media (max-width:390px) {
    .btns .row button{
        font-size: 9px;
        width:30px ;
    }
}